- @empty_container = params[:from_extension].present?

%div{class: "#{@empty_container ? '' : 'authform'}"}
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    %h3 Sign up
    .field
      = f.label :email
      %br
      = f.email_field :email, autofocus: true

    .field
      = f.label :password
      = f.password_field :password, autocomplete: "off"

    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off"

    = f.hidden_field :redirect_to_new, value: params[:from_extension].present?
    .actions
      = f.submit "Sign up"
