= form_for @relearnable, html: { id: "relearnable_form"} do |f|
  - if @relearnable.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relearnable.errors.count, "error")} prohibited this relearnable from being saved:"
      %ul
        - @relearnable.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, value: @relearnable.title || params[:title]
  .field
    = f.label :reference
    = f.text_field :reference, value: @relearnable.reference || params[:url]
  .actions
    = f.submit 'Save'
