%h1 Listing relearnables

%table
  %thead
    %tr
      %th Title
      %th Reference
      %th Summary
      %th Last Seen
      %th Next Seen:
      %th Times Relearnt
      %th
      %th

  %tbody
    - @relearnables.each do |relearnable|
      %tr
        %td= link_to relearnable.title, relearnable.reference, target: "_blank"
        %td= link_to relearnable.reference, relearnable.reference, target: "_blank"
        %td= truncate(relearnable.summary, length: 50)
        %td= relearnable.last_studied.strftime("%A, %B %Y")
        %td= relearnable.next_repetition.strftime("%A, %B %Y")
        %td= relearnable.number_repetitions

        %td= link_to 'Show', relearnable
        %td= link_to 'Delete', relearnable, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Relearnable', new_relearnable_path
